#work-education{
  position: relative;
  box-sizing: border-box;
  margin: 2rem auto;
  padding: clamp(1rem, 3vw, 3rem);
  width: min(90vw, 60rem);
  height: auto;
  border: solid black var(--border-thickness);
  border-radius: clamp(1.5rem, 2vw, 2rem);
  transition: height var(--animation-delay) ease;
}

*{
  --animation-delay: 1.5s;
}

#work-education .selected{
  display: flex;
  opacity: 0;
  animation: fadeEffect var(--animation-delay) ease var(--animation-delay) forwards;
}

#work, #education{
  display: none;
  position: relative;
  inset: 0;

  flex-direction: column;
  align-items: flex-start;

  opacity: 1;
  transition: opacity 3s ease;
}

#work-education .card{
  padding-bottom: 2rem;
  width: 100%;
}

/* Individual card styles here */
#work-education .card > .header{
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
#work-education .card > .header > p{
  text-align: right;
}

#work-education .card > ul{
  padding-top: 1rem;
  padding-left: 1rem;
}

@keyframes fadeEffect{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}