header {
  padding-top: clamp(1.25rem, 5vh, 3rem);

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}

/* headshot styles here */

header > img {
  border-radius: 50%;
  width: clamp(7rem, 20vw, 15rem);
  height: clamp(7rem, 20vw, 15rem);
  border: solid clamp(0.2rem, 1vw, 0.5rem) black;
  mix-blend-mode: multiply;
}

h1 {
  font-size: clamp(2rem, 6vw, 5rem);
  width: fit-content;
  height: fit-content;
}

/* Headshot chat styles here  */

header > div#box{
  width: 25rem;
  height: 7rem;
  display: flex;
  align-content: flex-end;
  flex-wrap: wrap;
  justify-content: flex-end;
  position: absolute;
  transform: translateX(-70%);
  z-index: 1;
}

header > div#box > div{
  display: flex;
  align-items: center;
  text-align: center;
  height: fit-content;
  transform-origin: bottom right;
  padding: 1rem;
  border-radius: 1rem;
  border: solid black 0.2rem;
  z-index: 1;
  background-color: var(--primary);
  animation: popup 0.5s forwards ease;
}

@keyframes popup{
  from{
    transform: scale(0.1);
  }
  to{
    transform: scale(1);
  }
}

header > div#box  svg{
  position: absolute;
  bottom: 1px;
  right: 1rem;
  transform: translateY(100%);
  z-index: 2;
}

/* header > div#box > div::after{
  will-change: transform;
  backface-visibility: hidden;
  content: '';
  position: absolute;
  bottom: 0.2rem;
  right: 1rem;
  transform: translateY(calc(100% + 0.2rem));
  width: 0;
  height: 0;
  border-left: 2rem solid transparent;
  border-top: 2rem solid var(--primary);
  background: none;
  filter: drop-shadow(0.15rem 0.2em 0 black ) drop-shadow(0rem 0.2rem 0 black );
} */

div#box.disabled {
  display: none;
}

/* Contact details styles here */

header > nav {
  display: flex;
  gap: clamp(1.2rem, 2vw, 2rem);
  margin-top: clamp(1rem, 5vh, 2rem);
}

header > nav > * {
  transition: transform 30ms ease-in;
}

header > nav > button:hover {
  transform: scale(1.1);
}
header > nav > ul > li:hover {
  transform: scale(1.2);
}

header > nav > ul {
  position: relative;
  list-style: none;
  display: grid;
  grid-template-columns: auto auto auto;

  border-radius: 1rem;
  padding: 0rem 1rem;
  border: solid var(--border-thickness) black;
}

/* Resume button styles here */
header > nav > button {
  border: solid var(--border-thickness) black;
  border-radius: 1rem;
  background-color: transparent;
  font-size: var(--regular-font-size);
  padding: 0.3rem 1.5rem;
}

/* icons style here  */
header nav > button a svg {
  position: relative;
  width: 1rem;
  height: auto;
  margin-left: 0.5rem;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
header li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0rem clamp(0.5rem, 1vw, 1.5rem);
}

header li a > svg{
  display: block;
}

/* Responsive styles here  */

.contact-icons {
  height: clamp(1rem, 4vw, 1.5rem);
  width: auto;
}

/* Code debris starts here */

/* 
@keyframes spin{
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}


header > ul::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: inherit;
  z-index: -1;
  padding: 0.2rem;
  
  // background-image: conic-gradient(from var(--angle), #ff6e21 , #fbf665 , #73fffe, 	#6287f8, #383e65, #ff6e21);
  animation: 3s spin linear infinite;
} */
