#root{
  position: relative;
  min-height: 100%;
  overflow: hidden;
}

#root > #background {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: var(--primary);
  filter: url(#my-filter);
}

.circle {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
}


div#pointer{
  mix-blend-mode: difference;
}
header > img,
header > h1,
header > h3,
header > nav,
main > * {
  opacity: 0;
}
.introAnimation {
  animation: scrollAnimation 3s ease forwards;
}

@keyframes scrollAnimation {
  0% {
    filter: blur(7px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
