#root {
}

#root > #background {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  background-color: var(--primary);
  filter: url(#my-filter);
}

.circle {
  position: fixed;
  display: none;
  transform: translateX(-50%) translateY(-50%);
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 999;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  /* mix-blend-mode: difference; */
}

header > img,
header > h1,
header > h3,
header > nav,
main > * {
  opacity: 0;
}
.introAnimation {
  animation: scrollAnimation 3s ease forwards;
}

@keyframes scrollAnimation {
  0% {
    filter: blur(7px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
