@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");


*{
  margin:0;
  font-family: "JetBrains Mono", monospace;
  --primary: #fff9ea;
  --secondary: #c4de92;
  --border-thickness: clamp(0.15rem, 0.5vw, 0.2rem);
  cursor: none;
  --small-font-size: clamp(0.8rem, 2vw, 1rem);
  --regular-font-size: clamp(1.2rem, 2.5vw, 1.8rem);
  color: black;
}
a{
  color:inherit;
  text-decoration: none;
}
html, body{
  padding:0;
  margin:0;
  height: 100%;
  scrollbar-width: none;
}
button, button:active, button:focus, button:hover{
  box-shadow: none;
}