@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

*{
  margin:0;
}
body{
  height: 100vh;
}
:root {
  background-color: rgb(47, 47, 47);
  color: white;
  font-family: "JetBrains Mono", monospace;
}