main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main nav {
  --radius: clamp(1rem, 1vw, 1.5rem);
  --border-thickness: clamp(0.2rem, 0.5vw, 0.3rem);
  position: relative;
  margin-top: clamp(1rem, 5vh, 2rem);
  width: max-content;
  display: flex;
  border: solid black var(--border-thickness);
  border-radius: var(--radius);
  overflow: hidden;
}
main button {
  background-color: var(--primary);
  padding: 2vw 4vw;
  padding: clamp(0.2rem, 1.5vw, 0.5rem) clamp(1rem, 3vw, 2rem);
  border: none;
}
main button:hover,
main button:hover > h3,
main button.selected,
main button.selected > h3 {
  background-color: black;
  color: var(--primary);
}
