#projects-technologies {
  position: relative;
  margin: 2rem auto;
  padding: clamp(1rem, 3vw, 3rem);
  padding-bottom: 0;
  width: min(75vw, 60rem);
  border: solid black var(--border-thickness);
  border-radius: clamp(1.5rem, 2vw, 2rem);
  transition: height var(--animation-delay) ease;
}

* {
  --animation-delay: 1.5s;
}

#projects-technologies .selected {
  display: flex;
  opacity: 0;
  animation: fadeEffect var(--animation-delay) ease var(--animation-delay)
    forwards;
}

#projects,
#technologies {
  display: none;
  position: relative;
  inset: 0;

  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-between;
  justify-content: space-between;
  opacity: 1;
  transition: opacity 3s ease;
}


#projects-technologies .card {
  padding-bottom: 2rem;
  width: 100%;
}

/* Individual card styles here */
#projects-technologies .card > .header {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
#projects-technologies .card p, #projects-technologies .card > h4{
  font-size: var(--small-font-size);
}

#projects-technologies .card > ul {
  padding-top: 1rem;
  padding-left: 1rem;
}

/* technology card styles here */

#technologies .card{
  width: min-content;
}

/* Projects card styles here  */

#projects h3 > svg{
  margin-left: 1rem;
  opacity: 0;
}

#projects h3{
  transition: transform 0.5s;
  transform-origin: bottom left;
  font-size: var(--regular-font-size);
}
#projects h3:hover{
  transform: scale(1.1);
}
#projects h3:hover > svg{
  animation: scrollAnimation 0.5s ease forwards;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
